# Hugo files
public
resources
.hugo_build.lock
# Build system files
MODULE.bazel.lock
bazel-bin
bazel-out
bazel-testlogs
bazel-ghidra_decompiler_commons
# code checker cache
plugins/cppcheck
# local configuration file, derived from .bazelrc_sample
.bazelrc
